{# [module]/templates/example-module.html.twig #}
{{ attach_library('example_module/global') }}
<link rel="stylesheet" media="all" href="{{module_url}}/css/example-module-css-override.css?{{moduleVar.cache_tag_css_tarot_module}}" />


<div>
<h1>here is template1<h1>

<div>
  <img src="{{module_url}}/img/image.png" width="200px" alt="facebook">
</div>



</div>
